# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Virtual Environment
venv/
.venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media / Static (se tiver uploads)
media/
staticfiles/

# IDEs
.idea/
.vscode/
*.sublime-*

# OS
.DS_Store
Thumbs.db